/* Hero.css */
.mySwiper .swiper-pagination-bullet {
  background-color: #ffffff; /* Warna default bullet */
  opacity: 1; /* Pastikan bullet terlihat jelas */
  border: 1px solid rgb(0, 0, 0);
  width: 10px;
  height: 10px;
}

.mySwiper .swiper-pagination-bullet-active {
  background-color: #00aeff; /* Warna bullet aktif */
}
